---
- name: Test Proxmox API connectivity
  hosts: localhost
  connection: local
  gather_facts: false
  vars_files:
    - proxmox.yml

  tasks:
    - name: Get Proxmox node information
      community.general.proxmox_node_info:
        api_host: "{{ proxmox_api_host }}"
        api_user: "{{ proxmox_user }}"
        api_token_id: "{{ proxmox_token_id }}"
        api_token_secret: "{{ proxmox_token_secret }}"
        node: "{{ proxmox_node }}"
      register: node_info

    - name: Show node info
      debug:
        var: node_info
